*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    background-color: #333;
    font-family:  Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/*-------------------------------------------------------------*/

.form{
    max-width: 550px;
    margin: 0 auto;
    color: #fff;
    padding: 30px 0;
}
.form *{
    outline: none;
}

.form__title{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0;
    text-align: center;
}
.form__body{
    display: block;
    position: relative;
}
.form__body::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51,51,51,0.9) url("../img/load.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
.form__body._hide{
    display: none;
    transition: all 0.5s ease 0s;
}
.form__body._sending::after{
    opacity: 1;
    visibility: visible;
}
/*_sending*/
.form__input{
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    transition: all 0.5s ease 0s;
}
.form__input:focus{
     box-shadow: 0 0 15px #7a956b;
}
.form__input._error{
    box-shadow: 0 0 15px red;
}
textarea.form__input{
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}
.form__item{
    margin: 0 0 20px 0;
}
.form__label{
    font-size: 18px;
    display: block;
    margin:0 0 10px 0;
}
.form__label._hide{
    display: none;
}
.form__label._error{
    color: red;
    text-align: center;
}
.form__button{
    width: 100%;
    min-height: 60px;
    display: block;
    background-color: #7a956b;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 5px 0 #161b13;
    transition: background-color 0.5s ease 0s;
    position: relative;
    text-align: center;
    top: 0;
}
.form__button:hover{
    background-color: #4f6146;
}
.form__button:active{
    top: 3px;
    box-shadow: 0 2px 0 #161b13;
}